<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script>
        let_id_check = false;
    </script>
    <script th:src="@{/signup.js}"></script>
</head>
<body>
    <div>
        <div>
            <h2>회원가입</h2>
        </div>

        <form method="post" action="#" th:action="@{/signup}" id="signup">
            <div>
                <label for="memberId">아이디</label>
                <input type="text" id="memberId" name="memberId" th:value="${memberId}">
                <button type="button" id="id_check">중복확인</button>
            </div>

            <div>
                <label for="passwd">비밀번호</label>
                <input type="password" id="passwd" name="passwd">
                <button type="button">확인</button>
            </div>

            <div>
                <label for="passwd_check">비밀번호 확인</label>
                <input type="password" id="passwd_check" name="passwd_check">
                <button type="button">확인</button>
            </div>

            <div>
                <label for="name">이름</label>
                <input type="text" id="name" name="name" th:value="${name}">
            </div>

            <div>
                <label for="phone">전화번호</label>
                <input type="text" id="phone" name="phone" th:value="${phone}">
            </div>

            <div>
                <label for="email">이메일</label>
                <input type="text" id="email" name="email" th:value="${email}">
            </div>

            <div>
                <label for="address">주소</label>
                <input type="text" id="address" name="address" th:value="${address}">
            </div>

            <div>
                <button type="submit" id="signup_button">가입하기</button>
                <a href="#" th:href="@{./}">취소</a>
            </div>
        </form>
    </div>
</body>
</html>
